@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.font-arabic {
  font-family: 'Scheherazade New', serif;
}

.dark audio::-webkit-media-controls-panel {
  background-color: #2D3748; /* dark gray background */
  border-radius: 10px;
}

.dark audio::-webkit-media-controls-play-button {
  background-color: #4CAF50; /* green play button */
  border-radius: 50%;
}

.dark audio::-webkit-media-controls-timeline {
  border-radius: 5px;
  height: 4px;
}


.dark audio::-webkit-media-controls-current-time-display,
.dark audio::-webkit-media-controls-time-remaining-display {
  color: white; /* white time text */
}

/* Default font sizes */
:root {
  --font-size-arabic: 22px;
  --font-size-latin: 22px;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
